.service-card{
    height: 540px;
}

.cd-img{
    height: 300px;
    object-fit: cover;
}

.play-icon{
    color: #5754F7;
    font-size: 18px;
    margin-right: 5px;
}

.rating{
    color: #FF9415;
}