.about-uss{
        background-image: url("https://www.hubspot.com/hubfs/1-Jun-22-2021-11-24-54-48-PM.jpg"),
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 500px;
        width: 100%;
        background-blend-mode: overlay;
    }
.about-title{
    font-size: 50px;
}

.line-about{
    width: 50px;
    height: 2px;
    background-color: tomato;
}

.about-sub{
    margin: 0px 150px;
    font-size: 15px;
}
.bg-about{
    background-color: rgb(239, 242, 245);
}

.detils{
    /* background-color: red; */
    /* font-size: 19px;
    font-weight: 700; */
    font-size: 25px;
}
.title-about{
    font-size: 35px;
    font-weight: 700;
    color: rgb(10, 113, 231);
}
.details-text{
    color: rgb(70, 76, 92);
    font-size: 22px;
    font-weight: 600;
}

.ceo-name{
    font-size: 28px;
    font-weight: 700;
    color: #4A4366;
    margin-bottom: 0;
}
.ceo-line{
    height: 2px;
    width: 48px;
    background-color: tomato;
}

.details-icon{
    font-synthesis: 50px;
}

.icon{
    color: royalblue;
    font-size: 32px;
}

.ceo-container{
    background-color: rgb(232, 229, 250);
    padding: 60px;
}

.ceo-div{
    border: 3px solid rgb(234, 245, 248);
    border-radius: 5px;
}

.ceo-img{
    height: 200px;
}